:root {
    --ion-color-dream: 	#BF40BF;
    --ion-color-dream-rgb: 167, 12, 214;
}

.ion-color-dream {
    --ion-color-base: var(--ion-color-dream);
    --ion-color-base-rgb: var(--ion-color-dream-rgb);
}

/* The CSS for the app */

.page-background {
    --background: url('../images/starbackground.jpg') 0 0/100% 100% no-repeat!important;
}

.back-track {
    color: rgb(167, 12, 214);
    align-self: left;
    display: flex;
 }

.back-2-home {
    align-self: right;
    font-size: small;
    color: rgb(167, 12, 214);
    display: flex;
}

.header {
    display: flex;
}

.title-bar {
    font-size: large;
    display: flex;
    align-self: center;
    color: rgb(167, 12, 214);
}

.big-button {
    --background: var(--dream, #BF40BF);
  }

.big-button {
    --ion-background-color: rgb(167, 12, 214);
    display: flex;
    font-size: xx-large;
    color: black;
    margin: 1em;
    --ion-font-family: times;
}

.footer-content {
    margin-top: 2em;
    text-align: center;
    color: white;
    background-color: rgb(167, 12, 214);
}

/* For Journal - New Entries: */

/* 
    HERE IS WHAT MUST BE WORKED ON:
    - Find a way to put spacing between dream titles
    - Find a way to move the button to the right on the entry textbox without fallowing it
    - (For Dev) Set the entries to where there MUST be a title and blank cannot work
    - ***TO BE CONTINUED!***
*/

.tabs {
    color: #BF40BF;
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    font-family: monospace;
}

.add-button {
    --background: var(--dream, #BF40BF);
}

.journal-dream {
    color: #BF40BF;
}

.journal-title {
    font-family: monospace;
    color: black;
}

.journal-entery {

}

.journal-tags {

}